.ingredients__menu {
    display: flex;
}

.ingredients {
    text-align: left;
    max-width: 600px;

}

.ingredients__items {
    height: 756px;
    overflow-y: scroll;
}

.ingredients__items::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #2F2F37;
}

/* ползунок скроллбара */
.ingredients__items::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.ingredients__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    border: 1px solid red;
}

.ingredients__list-item {
    position: relative;
    width: 256px;
    border: 1px solid red;
}

.ingredients__img {
    width: 240px;

    border: 1px solid red;
}

.ingredients__subtitle {
    text-align: center;
}

.ingredients__price-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingredients__list {
    margin-bottom: 40px;
}