.container {
  margin: 40px auto 0;
  width: calc(100vw - 80px);
  background-color: #1c1c21;
}
.header {
  margin: 0 auto;
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listItem {
  display: flex;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
}
